language: node_js
sudo: 'false'
before_script:
  - npm install -g polymer-cli
  - git checkout package-lock.json
  - >-
    npm run format && git diff --exit-code || (echo -e '\n\033[31mERROR:\033[0m
    Project is not formatted. Please run "npm run format".' && false)
env:
  global:
    - secure: >-
        o3lAmns2tp9Q9OxN+08EeErkfZoWq9ctHDzId4fQMIvhajZSTnMw2RzLk2VRrns9YxhL25z3GvdQFh427/UmgPr1cY7zc2Y+OF8QPJTmyDQL9Bp0B+HDR9R8YYwxD+SqJP5TzE3gqblV9gHDAruEDruPkg/t0hbo62HSuxL/AZc=
    - secure: >-
        Vg+aDFoUprmDjqZJpkejJB1h4gMwm+rDsMcLW+l43tOcR6KpIVy1EoXgsKW0PL1rDFgJewvi80S9jXhG35t2f5Hz63S/zFMG9vmn8RyJg40DfrOkDry8rRuPwPQFeSDPW0MNNspyDayc5m+fJw+Klj2ZmsYnjUJgWUVvfG7o0NY=
node_js: node
addons:
  firefox: latest
  chrome: stable
script:
  - xvfb-run polymer test --module-resolution=node --npm
  - >-
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then polymer test
    --module-resolution=node --npm -s 'default'; fi
dist: trusty
cache:
  directories:
    - node_modules
